[global]
  workgroup = WORKGROUP
  server string = Samba Server
  server role = standalone server

  security = user
  hosts allow = 192.168. 127.

[guest]
  comment = Guest share
  path = /tmp
  public = yes
  writable = yes
  printable = no

[public]
  comment = Public share
  path = /srv/samba/public
  force user = root
  valid users = terryl, peryl, winniec
  public = no
  writable = yes
  browseable = yes

{% for user in ['terryl', 'peryl', 'winniec'] %}
[{{ user }}]
  comment = {{ user }}'s share
  path = /srv/samba/{{ user }}
  valid users = {{ user }}
  public = no
  writable = yes
  browseable = yes

{% endfor %}

