/srv/nfs     		192.168.0.0/16(rw,fsid=0,no_subtree_check,sync)
/srv/nfs/home		192.168.0.0/16(rw,nohide,insecure,no_subtree_check,sync)
/srv/nfs/volume		192.168.0.0/16(rw,nohide,insecure,no_subtree_check,sync)

